.html, body {
    margin: 0;
    padding: 0;
    display: block;
}

h3 {
    display: inline-block;
    color: red;
    font-size: 18px;
}

footer {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}